<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style-navbar.css">
    <script src="../scripts/boards.js"></script>
    <title>Boards</title>
</head>
<body>
    <div class="main-page">
        <div class="navbar">
            <img class="navbar-icon icon" src="../img/settings.svg" alt="logo">
            <img class="navbar-icon icon" src="../img/logout.svg" alt="logo">
        </div>
        <div class="content" id="content">
            <!-- <div class="board-icon">
                <div class="red-section"></div>
                <div class="board-title">Board project 1</div>
            </div>

            <div class="board-icon">
                <div class="red-section"></div>
                <div class="board-title">Board project 2</div>
            </div>

            <div class="board-icon">
                <div class="red-section"></div>
                <div class="board-title">Board project 3</div>
            </div>

            <div class="board-icon">
                <div class="red-section"></div>
                <div class="board-title">Board project 3</div>
            </div> -->

            <div class="cross-icon icon" onclick="onCrossClick()" id="cross">
                <span>&#43;</span>
            </div>
        </div>
    </div>
</body>
</html>