<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <script src="https://kit.fontawesome.com/6265ac8798.js" crossorigin="anonymous"></script>
    <title>Boards</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <a href="#" class = "button"><i class="fa-regular fa-gear"></i></a>
            <a href="#" class = "button"><i class="fa-solid fa-right-from-bracket"></i></a>
        </nav>

        <main>
            <section class="boards">
                <div>board1</div>
                <div>board2</div>
                <div>board3</div>
                <div>
                    <i class="fa-duotone fa-plus"></i>
                </div>
            </section>
        </main>

    </div>

</body>