<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">

        <div class="logo">
            <img src="../img/logo.svg">
        </div>

        <div class="login-container">
            <form>
                <input name="login" type="text" placeholder="Login">
                <input name="password" type="password" placeholder="Password">
                <button id="singin">
                    Sign in
                </button>
            </form>
        </div>

    </div>

</body>