<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div class="logo">
            <img src="../img/logo.svg" alt="logo">
        </div>

        <div class="login-container">
            <form class="login">
                <input name="login" type="text" placeholder="Login">
                <input name="password" type="password" placeholder="Password">
                <button class="LoginBtn">
                    Login
                </button>
                <a href="register.html" id="registerLink">Register</a>
            </form>
        </div>

    </div>

</body>
</html>