<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <title>Register</title>
</head>
<body>
    <div class="container">

        <div class="logo">
            <img src="../img/logo.svg" alt="logo">
        </div>

        <div class="register-container">
            <form class="register">
                <input name="login" type="text" placeholder="Login">
                <input name="email" type="text" placeholder="Email">
                <input name="password" type="password" placeholder="Password">
                <input name="passwordConfirmation" type="password" placeholder="Repeat password">
                <button class="RegisterBtn">
                    Register
                </button>
            </form>
        </div>
    </div>
</body>
</html>