.navbar {
    display: flex;
    padding-right: 2%;
    /* margin-left: auto; */
    justify-content: flex-end;
}

.navbar-icon {
    font-size: 5em;
    margin: 1vh;
}

.navbar-icon:hover {
    color: rgba(0, 0, 0, 0.31);
    cursor: pointer;
}

.main-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(116.82deg, #483C60 0%, rgba(69, 69, 92, 0.95) 0%, #29457A 100%);
}

.content {
    padding-left: 8%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.board-icon {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-right: 5%;
    margin-left: 5%;
    width: 18%;
    background-color: white;
    height: 20vh;
    border-radius: 25px;
    padding: 20px;
}

.board-icon:hover {
    height: 22vh;
    width: 20%;
    cursor: pointer;
}

.cross-icon {
    display: flex;
    margin-top: 10vh;
    margin-right: 5%;
    margin-left: 5%;
    width: 18%;
    height: 20vh;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 22em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.icon {
    user-select: none;
}

.cross-icon:hover {
    color: rgba(225, 224, 224, 0.31);
    cursor: pointer;
}

.red-section {
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(138, 26, 26);
    border-radius: 15px;
}

.board-title {
    text-align: center;
}