body {
    margin: 0;
    background-size: 100%;
    background: linear-gradient(
            116.82deg,
            #483c60 0%,
            rgba(69, 69, 92, 0.95) 0%,
            #29457a 100%
    );
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: max(250px, 60vw);
    text-align: left;
}

.logo img {
    width: 100%;
}

.login-container,
.register-container {
    width: 100%;
    height: 70%;
}

form.login,
form.register {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: max(20vw, 300px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

button.LoginBtn,
button.RegisterBtn,
button.FileBtn {
    background: #6d253e;
    border: 3px solid #6d253e !important;
    border-radius: 20px;
    width: 50%;
    line-height: 2.5em;
    border: none;
    color: white;
    margin: 1em;

    font-size: 20px;
}

button:hover {
    cursor: pointer;
    color: #6d253e;
    background-color: #d9d9d9;
}

input,
textarea {
    background-color: transparent;
    font-size: 20px;
    border: 3px solid #6d253e;
    padding: 10px;
    margin: 12px;
    width: 80%;
    line-height: 2.5em;
    border-radius: 20px;
    outline: none;
}

#registerLink {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 1em;
    color: black;
}

#registerLink:visited {
    color: black;
    text-decoration: none;
}

#registerLink:hover {
    color: #01000058;
}

.message {
    font-size: 10px;
    text-align: center;
    color: red;
}

.navbar {
    display: flex;
    padding-right: 2%;
    /* margin-left: auto; */
    justify-content: flex-end;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.navbar-icon {
    height: 50px;
    width: 50px;
}

.navbar-icon:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.main-page {
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 15px !important;
    }
    /* .logo {
          height: 25%;
          padding-top: 5%;
      } */
    /* .login-container {
          width: 80%;
          height: 70%;
      }
      form {
          width: 90%;
          height: 60%;
          margin: auto;
      } */
}

.content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: max(20vw, 300px);
}

.content-form > form {
    display: flex;
    flex-direction: column;
}

.no-valid {
    border-color: red;
    box-shadow: inset 0 0 5px red;
}